@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}
body{
    background-color: black;
}
.main{
    background-image: url(./Assets/Imagess/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 644px;
    background-repeat: no-repeat;
    position: relative;
}
.main .box{
    opacity: 0.35;
    background-color: black;
    height: 644px;
    position: absolute;
    top: 0;
    width: 100%;
}
nav{
    max-width: 60vw;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    z-index: 10;
    width: 130px;
    position: relative;
}
.SignIn{
    z-index: 10;
    position: relative;
    font-weight: 400;
    color: white;
    cursor: pointer;
    background-color: red;
    border-right: 2px solid red;
    padding: 3px 24px;
    font-style: 20px;
    border-radius: 4px;
    margin-left: 10px;
    height: 35px;
}
.Lang{
        z-index: 10;
        position: relative;
        background-color: black;
        color: white;
        font-weight: 400;
        padding: 3px 8px ;
        cursor: pointer;
        border: 1px solid white;
}
.textofmain1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.textofmain1> :nth-child(1){
    text-align:center;
    font-weight: bolder;
    font-size: 48px;
}
.textofmain1> :nth-child(2){
    text-align:center;
    font-weight: 400;
    font-size: 24px;
}
.textofmain1> :nth-child(3){
    text-align:center;
    font-weight: 400;
    font-size: 24px;
}
.buttonss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.email{
    border: 1px solid rgba(246, 238, 238, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 4px;
    font-size: 12px;
    color: white;
    padding: 7px 101px 8px 14px;
}
.seperation{
    width: 100%;
    height:10px;
    background-color: grey;        
    z-index: 20;
    position: relative;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    position: relative;
    top: 0;
    z-index: 30;
    width: 600px;
}
.secImg .video1{
    position: absolute;
    /* top: 87px;
    right: 75px; */
    top: 128px;
    right: 40px;
}
.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
.first > div :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
}
.first > div :nth-child(2){
    font-size: 24px;
}
.video2{
    position: absolute;
    top: 114px;
    right: 40px;
}
.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
